<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <!-- exported -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="icon" href="/img/logo.png" type="image/gif">
</head>

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@378;500;600;700&family=Ubuntu:wght@378;500;700&display=swap');
        *{
            margin: 0;
            padding:  0;
            box-sizing: border-box;
            text-decoration: none;
        }
        html{
            scroll-behavior: smooth;
        }
        body{
            /* background-color: #000; */
            width: 100%;
        }
        header{
            width: 100%;
            height: 35px;
            background-color: crimson;
            position: static;
        }
        header ul{
            margin: 0;
            padding: 0;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
        }

        header ul li{
            list-style: none;
        }

        header ul li a{
            border: 1px solid #000;
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #262626;
            overflow: hidden;
            margin: 15px 3px 0 3px;
            transition: .3s;
            border: none;
            text-decoration: none;
        }

        header ul li a .fa{
            transform: rotate(0);
        }
        header ul li a:before{
            content: '';
            position: absolute;
            bottom: -100px;
            left: -100px;
            width: 100%;
            height: 100%;
            background-color: rgb(36, 36, 33);
            transition: .2s;
        }

        .header ul li a:hover:before{
            top: 0;
            bottom: 0;
            left: 0;
        }
        header ul li a:hover{
            color: #fff;
        }


        .mainMenu{
            max-width: 100%;
            margin: 0 80px;
            padding: 0, 80px;
        }
        .navBar{
            position: fixed;
            font-family: 'Ubuntu', sans-serif;
            width: 100%;
            margin: auto;
            transition: all 0.2s ease-in-out;
            z-index: 998;
            /* border-bottom: 1px solid #000; */
            /* background: url("/img/laptop2.jpg"); */
            height: 60px;
        }

        .navBar.sticky{
            background: crimson;
            position: fixed;
            margin-top: -45px;
        }

        .navBar .mainMenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navBar .logo img{
            height: 80px;
        }
        .navBar .menu li{
            list-style: none;
            display: inline-block;
        }
        .navBar .menu li a{
            color: #fff;
            font-size: 20px;
            font-weight: 100;
            margin-left: 20px;
            transition: color 0.3s ease;
        }

        .navBar.sticky .menu li a:hover{
            color: #000;
        }
        .navBar .menu li a:hover{
            color: crimson;
        }


        .navBar .menu_btn{
            color: #fff;
            font-size: 25px;
            display: none;
            cursor: pointer;
        }
        .home{
            /* margin-top: 40px; */
            height: 300px;
            width: 100%;
            background: url("/img/laptop2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @media (max-width: 820px){
            .mainMenu{
                padding: 0;
                width: 90%;
                margin: auto;
            }
            .navBar .menu_btn{
                display: block;
                z-index: 999;
            }
            .menu_btn i.active:before{
                content: "\f00d";
            }
            .navBar .menu{
                position: fixed;
                width: 100%;
                height: 100vh;
                top: 0;
                left: -100%;
                background-color: rgb(98, 253, 253);
                text-align: center;
                padding-top: 70px;
                transition: all 0.4s ease;
            }
            .navBar .menu.active{
                left: 0;
            }
            
            .navBar .menu li{
                display: block;
            }
            .navBar .menu li a{
                display: inline-block;
                margin: 20px;
                font-size: 25px;
            }
        }

    </style>
















    <header>
        <ul>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
        </ul>

    </header>
    <nav class="navBar">
        <div class="mainMenu">

            <div class="logo">
                <a href="/"><img src="/img/logo.png"></a>
            </div>

        </div>

    </nav>
    <div class="home">
        
    </div>
    
    <script>
        $(document).ready(function(){
            $(window).scroll(function(){
                if(this.scrollY > 5){
                    $('.navBar').addClass("sticky");
                }
                else{
                    $('.navBar').removeClass("sticky");
                }
            });
            // menu icon
            $('.menu_btn').click(function(){
                $('.navBar .menu').toggleClass("active");
                $('.menu_btn i').toggleClass("active");
            });

        });
    </script>

    <!-- 
        echo "# Mern_Blog" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/charlesncn/Mern_Blog.git
git push -u origin main
     -->